.infoAccount {
  width: 100%;
}

.infoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btnEdit {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  background: none;
}

.btnEdit svg {
  --size: 100%;
  width: var(--size);
  height: var(--size);
  stroke: var(--color-info-success);
  stroke-width: 2.5px;
}

.info,
.infoEdit {
  position: relative;
  outline: none;
  transition: all 0.5s linear;
  min-height: 1rem;
}

.info::before {
  content: '';
  transition: inherit;
  background: var(--color-info-success);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
}

.infoEdit::before {
  width: 100%;
}