@layer theme-dark {
  :root[data-theme='dark'] {
    --color-primary: #fcb045;
    --bg: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);

    --color: #e8eef1;

    --glass-light: rgba(0, 0, 0, 0.3);
    --glass-medium: rgba(0, 0, 0, 0.5);
    --glass-dark: rgba(0, 0, 0, 0.7);

    --color-hover: rgba(190, 190, 190, 0.3);
    --color-neutral: rgba(255, 255, 255, 0.776);
    --color-highlight: rgba(255, 255, 255, 0.3);

    --color-neutro-dark: rgb(0, 0, 0);
    --color-neutro-light: rgb(255, 255, 255);

    --color-info-error: #ff6382;
    --color-info-info: #66a8ff;
    --color-info-success: #9fdd3b;
    --color-info-warning: #ffd905;
  }
}

@layer theme-light {
  :root[data-theme='light'] {
    --color-primary: #635ee2;
    --bg: linear-gradient(45deg, #d3f5cf, #a8dbfa, #635ee2);

    --color: #3a3c3e;

    --glass-light: rgba(255, 255, 255, 0.3);
    --glass-medium: rgba(255, 255, 255, 0.5);
    --glass-dark: rgba(255, 255, 255, 0.7);

    --color-hover: rgba(69, 69, 69, 0.3);
    --color-neutral: rgba(0, 0, 0, 0.776);
    --color-highlight: #d3f5cf;

    --color-neutro-dark: rgb(255, 255, 255);
    --color-neutro-light: rgb(0, 0, 0);

    --color-info-error: #ff6382;
    --color-info-info: #66a8ff;
    --color-info-success: #9fdd3b;
    --color-info-warning: #ffd905;
  }
}
